__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual envs
.venv/
venv/
env/

# Editor / OS
.idea/
.vscode/
.DS_Store

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
